$main-gray: #2a2a2a;
$secondary-gray: #2a2a2a8f;
$border-gray: rgb(133, 133, 133);
$main-blue: #0078f2;
$secondary-blue: #0062be;
$main-link: rgb(140, 140, 140);
$error-red: #de3341;
$error-secondary: #d54841;

.createAccount {
    color: #fff;
    width: 100%;
    height: 100vh;

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
        -webkit-text-fill-color: #fff !important;
    }

    &-title {
        color: #fff;
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 2rem;
    }

    &-error {
        background-color: $error-secondary;
        width: 100%;
        height: 3rem;
        margin: 1rem 0 2rem 0;
        border-radius: 3px;
        text-align: center;

        p {
            color: rgb(218, 218, 218);
            font-size: 1rem;
        }
    }

    &-button {
        &__active {
            background-color: $main-blue;
            color: #fff;
            width: 100%;
            height: 3.5rem;
            font-size: 0.8rem;
            margin-top: 2rem;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        &__inactive {
            background-color: $secondary-blue;
            color: $main-link;
            width: 100%;
            height: 3.5rem;
            font-size: 0.8rem;
            margin-top: 2rem;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            pointer-events: none;
        }
    }

    &-info {
        margin-top: 1rem;

        p {
            margin-top: 1rem;
        }

        a {
            color: #fff;
        }
    }
}

//! ///////////////////////////////////////////////////////////////////////////////////////////////////////////

.datePicker {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;

    &-outer {
        position: relative;
        background-color: $secondary-gray;
        width: 30rem;
        padding: 2rem 0;
        z-index: 50;
    }

    &-inner {
        position: relative;
        width: 80%;
        z-index: 60;

        &__inputs {
            width: 100%;
        }

        &__input {
            position: relative;
            width: 30%;
            height: 3.5rem;
            border: 1px solid $border-gray;
            border-radius: 3px;
            z-index: 100;

            &:hover {
                border: 1px solid #fff;
                color: #fff;
            }

            button {
                background-color: transparent;
                color: $border-gray;
                width: 100%;
                height: 100%;
                border: none;
                cursor: pointer;

                &:hover {
                    color: #fff;
                }
            }

            input {
                background-color: transparent;
                color: $border-gray;
                width: 100%;
                height: 100%;
                border: none;
                text-align: center;
            }

            &-months {
                position: absolute;
                top: -30%;
                left: -10%;
                background-color: $main-gray;
                width: 8rem;
                list-style: none;
            }

            &-list {
                position: absolute;
                top: -30%;
                left: -10%;
                background-color: $main-gray;
                width: 8rem;
                height: 30rem;
                overflow-x: hidden;
                overflow-y: scroll;
                list-style: none;
                z-index: 150;

                &::-webkit-scrollbar {
                    width: 8px;
                }

                &::-webkit-scrollbar-thumb {
                    background: $main-link;
                }
            }

            li {
                width: 100%;
                height: 2rem;
                margin-bottom: 0.2rem;
                cursor: pointer;

                &:hover {
                    color: black;
                    background-color: #ccc;
                }
            }
        }
    }
}

//! //////////////////////////////////////////////////////////////////////////////////////////////
.accountInfo {
    width: 100%;
    height: 100%;

    &-outer {
        background-color: $main-gray;
        width: 30rem;
        padding: 3rem 0;
    }

    &-inner {
        width: 80%;

        &__check {
            margin-top: 1rem;
            font-size: 0.85rem;

            input {
                width: 15px;
                height: 15px;
            }

            label {
                width: 90%;
            }
        }
    }
}

//! /////////////////////////////////////////////////////////////////////////////////////////////
.logIn {
    width: 100%;
    height: 100vh;

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
        -webkit-text-fill-color: #fff !important;
    }

    &-outer {
        background-color: $secondary-gray;
        color: $main-link;
        width: 30rem;
        padding: 3rem 0;
    }

    &-inner {
        width: 80%;
    }
}

//! ////////////////////////////////////////////////////////////////////////////

.accountInput {
    &-active {
        position: relative;
        width: 100%;
        height: 3rem;
        border: 1px solid $border-gray;
        border-radius: 3px;
        margin-bottom: 1rem;

        display: flex;
        justify-content: center;
        align-items: flex-end;

        input {
            position: relative;
            background-color: transparent;
            color: #fff;
            width: 90%;
            height: 80%;
            font-size: 0.8rem;
            z-index: 10;
            border: none;
            outline: none;
        }

        label {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: translate(5%, 10%);
            font-size: 0.7rem;
            transition: all 0.1s linear;
            pointer-events: none;

            z-index: 100;
        }
    }

    &-inactive {
        position: relative;
        width: 100%;
        height: 3rem;
        border: 1px solid $border-gray;
        border-radius: 3px;
        margin-bottom: 1rem;

        input {
            position: relative;
            background-color: transparent;
            width: 100%;
            height: 100%;
            z-index: 10;
            border: none;
        }

        label {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: translate(5%, 30%);
            font-size: 0.9rem;
            transition: all 0.1s linear;
            pointer-events: none;
            margin: 0;
            padding: 0;

            z-index: 100;
        }
    }
}
