$main-gray: #2a2a2a;
$secondary-gray: #2a2a2a8f;
$main-blue: #0078f2;
$main-link: rgb(140, 140, 140);
$error-red: #de3341;

.createAccount {
    color: #fff;
    width: 100%;
    height: 100%;

    &-date {
        background-color: $secondary-gray;
        width: 30rem;
        margin: 15rem 0 0 0;
        padding: 5rem 0;

        p {
            margin-top: 2rem;
        }
    }

    &-container {
        background-color: $secondary-gray;
        width: 30rem;
        margin-top: 7rem;
        padding: 3rem 0;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        form {
            width: 80%;
        }

        p {
            margin-top: 1.5rem;
            font-size: 0.85rem;
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            transition: background-color 5000s ease-in-out 0s;
            -webkit-text-fill-color: #fff !important;
        }

        &__error {
            color: $error-red;
            padding: 0.5rem 0 1rem 0;
        }

        &__check {
            div {
                font-size: 0.8rem;
                margin-bottom: 1rem;

                display: flex;
                justify-content: flex-start;
                align-items: center;

                input {
                    width: 15px;
                    height: 15px;
                }

                label {
                    width: 90%;
                    margin-left: 0.7rem;
                }
            }
        }

        &__button {
            background-color: $main-blue;
            color: #fff;
            width: 100%;
            height: 3rem;
            margin-top: 1rem;
            font-size: 1rem;
            border: none;
            cursor: pointer;
        }
    }
}

.datePicker {
    h4 {
        margin-bottom: 2rem;
    }

    p {
        margin-top: 1rem;
    }

    span {
        margin-left: 1rem;
    }

    &-button {
        background-color: $main-blue;
        width: 23rem;
        height: 3rem;
        margin-top: 2rem;
        border: none;
        border-radius: 5px;
    }

    &-container {
        width: 23rem;

        &__select {
            position: relative;
        }

        &__button,
        &__year {
            background-color: transparent;
            color: $main-link;
            width: 7rem;
            height: 3.5rem;
            border: 1px solid $main-link;
            border-radius: 3px;

            font-size: 1rem;
            cursor: pointer;
            z-index: 10;

            input {
                background-color: transparent;
                color: $main-link;
                width: 100%;
                height: 100%;
                text-align: center;
                border: none;
                font-size: 1rem;
            }
        }

        &__list {
            position: absolute;
            top: -100%;
            left: 0;
            background-color: $main-gray;
            width: 9rem;
            height: 30rem;
            overflow: scroll;
            overflow-x: hidden;
            list-style: none;
            z-index: 100;

            &::-webkit-scrollbar {
                width: 8px;
            }

            &::-webkit-scrollbar-track {
                background: $main-gray;
            }

            &::-webkit-scrollbar-thumb {
                background: $main-link;
            }

            li {
                width: 100%;
                height: 2.5rem;
                cursor: pointer;

                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    background-color: $main-link;
                    color: #fff;
                }
            }
        }
    }
}

.accountInput {
    &-inactive {
        position: relative;
        width: 100%;
        height: 3.5rem;
        margin-bottom: 2rem;
        border: 1px solid $main-link;
        border-radius: 5px;
        z-index: 50;

        label {
            position: absolute;
            color: $main-link;
            top: 30%;
            left: 5%;
            z-index: 100;
            pointer-events: none;

            span {
                color: orange;
            }
        }

        input {
            background-color: transparent;
            color: #fff;
            width: 100%;
            height: 100%;
            border: none;
        }
    }

    &-active {
        position: relative;
        width: 100%;
        height: 3.5rem;
        margin-bottom: 2rem;
        border: 1px solid #fff;
        border-radius: 5px;
        z-index: 50;
        transition: all 1s linear;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        label {
            position: absolute;
            color: #fff;
            top: 5%;
            left: 5%;
            font-size: 0.7rem;
            z-index: 100;
            pointer-events: none;

            span {
                color: orange;
            }
        }

        input {
            background-color: transparent;
            color: #fff;
            width: 90%;
            height: 70%;
            font-size: 1rem;
            border: none;

            &:focus {
                outline: none;
                border: none;
            }
        }
    }
}
