.discover-container {
    width: 75%;
    height: 5rem;
}

.hero-container {
    width: 100%;
    height: 42rem;

    display: flex;
    justify-content: space-between;

    .hero-left {
        width: 75%;
        height: 100%;
        border-radius: 20px;
        position: relative;

        display: flex;
        // overflow: hidden;
    }

    .hero-right {
        background-color: violet;
        width: 20%;
        height: 100%;
    }

    .button-container {
        position: absolute;
        top: 110%;
        display: flex;
        justify-content: space-between;
        width: 10rem;
    }
}

.poster-container {
    position: absolute;
    top: 0;
    left: 0;

    min-width: 100%;
    height: 100%;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
