$main-gray: #2a2a2a;
$secondary-gray: #2a2a2a8f;
$border-gray: rgb(133, 133, 133);
$main-blue: #0078f2;
$secondary-blue: #0062be;
$main-link: rgb(140, 140, 140);
$error-red: #de3341;
$error-secondary: #d54841;

.gamePage {
    width: 100%;
    border-top: 1px solid $border-gray;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &-header {
        &__title {
            color: #fff;
            font-size: 3rem;
            margin: 1rem 0 1.5rem 0;
        }

        &__links {
            background-color: rgb(18, 18, 18);
            position: sticky;
            top: 6rem;
            width: 100%;
            height: 2rem;
            z-index: 999;

            a {
                font-size: 1.4rem;
                margin-right: 1rem;
                line-height: 1.5rem;
            }
        }

        &__active {
            color: #fff;
        }

        &__inactive {
            color: $main-link;
        }
    }

    //! /////////////////////////////////////////////////
    &-overview {
        width: 100%;
        margin-top: 0rem;
        color: #fff;
        overflow: hidden;

        display: flex;

        &__left {
            width: 70%;
            height: 100%;

            &-showMore {
                position: absolute;
                bottom: 0;
                width: 70%;
                height: 3rem;
            }
        }

        &__right {
            width: 30%;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: flex-start;

            &-details {
                color: #fff;
                width: 85%;
                position: sticky;
                top: 0rem;
                z-index: 998;

                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                &-logo {
                    width: 100%;
                    height: 10rem;
                    font-size: 1.5rem;
                }

                &-price {
                    font-size: 1.1rem;
                }

                &-buy {
                    background-color: #0062be;
                    color: #fff;
                    border: none;
                    border-radius: 3px;
                    width: 100%;
                    height: 3.5rem;
                    margin: 0.5rem 0;
                }

                &-cart {
                    background-color: transparent;
                    color: #fff;
                    width: 100%;
                    height: 3.5rem;
                    margin-bottom: 0.5rem;
                    border: 1px solid $border-gray;
                    border-radius: 3px;
                }

                &-wishlist {
                    background-color: transparent;
                    color: #fff;
                    width: 100%;
                    height: 2.5rem;
                    margin-bottom: 0.5rem;
                    border: 1px solid $border-gray;
                    border-radius: 3px;
                }

                &-studio {
                    width: 100%;
                    font-size: 1.1rem;
                    margin-bottom: 0.5rem;
                    padding: 0.25rem 0;
                    border-bottom: 1px solid $border-gray;

                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    span {
                        color: $main-link;
                    }
                }
            }
        }
    }

    //! ////////////////////////////////////////////////////////
    &-carousel {
        width: 100%;

        &__top {
            width: 100%;
            height: 37rem;
            position: relative;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }

            button {
                background: rgb(0, 0, 0);
                background: linear-gradient(90deg, rgba(0, 0, 0, 0.5914740896358543) 100%, rgba(152, 152, 152, 1) 100%);
                color: #fff;
                height: 100%;
                width: 2rem;
                font-size: 2rem;
                outline: none;
                border: none;
                cursor: pointer;
                transition: all 0.5s ease-out;
            }

            &-buttonLeft {
                position: absolute;
                top: 0;
                left: 0;
            }

            &-buttonRight {
                position: absolute;
                top: 0;
                right: 0;
            }
        }

        &__bottom {
            width: 100%;
            height: 5rem;

            &-images {
                width: 90%;
                height: 100%;

                img {
                    width: 8rem;
                    height: 90%;
                    cursor: pointer;
                }
            }

            button {
                background-color: $main-gray;
                color: #fff;
                width: 40px;
                height: 40px;
                font-size: 1.2rem;
                margin: 0rem 0.5rem;
                border: 1px solid $border-gray;
                border-radius: 50%;
                cursor: pointer;

                &:hover {
                    background-color: $secondary-gray;
                }
            }
        }
    }
}

.gamePageInformation {
    width: 100%;

    &-title {
        font-size: 1.3rem;
        margin-top: 2rem;
    }

    &-genres {
        color: $main-link;
        width: 50%;
        height: 4rem;
        font-size: 1rem;
        margin-top: 1rem;

        span {
            color: #fff;
            margin-right: 0.5rem;
            text-decoration: underline;
        }

        &__genre {
            border-left: 1px solid $border-gray;
        }
    }

    &-detail {
        margin-top: 1rem;
        font-size: 1.1rem;
        color: $main-link;

        span {
            color: #fff;
            margin-bottom: 0.5rem;
        }
    }

    &-images {
        width: 100%;
        margin-top: 1rem;

        img {
            width: 100%;
        }
    }
}
