header {
    background-color: #2a2a2a;
    color: #ccc;
    width: 100%;
    height: 3.2rem;
    font-size: 0.7rem;

    display: flex;
    justify-content: space-between;

    a {
        position: relative;
        height: 90%;
        color: #ccc;
        text-decoration: none;
        padding: 0 1rem;

        p {
            position: relative;
            top: 15%;
        }
    }

    a:hover {
        color: white;
        border-bottom: 5px solid #0078f2;
    }

    .link-active {
        border-bottom: 5px solid #0078f2;
    }

    .header-left {
        display: flex;
        align-items: flex-start;
    }

    .header-right {
        position: relative;
        display: flex;
        align-items: center;

        &__user {
            width: 7rem;
            height: 100%;
            cursor: pointer;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        button {
            background-color: #0078f2;
            color: #ccc;
            width: 7rem;
            height: 100%;
            font-size: 0.7rem;
            font-weight: bold;
            border: none;
            cursor: pointer;
        }

        // RE WORK THE HTML AND CSS
        &__dropdown {
            position: absolute;
            top: 100%;
            left: 0%;
            background-color: #2a2a2a;
            width: 7rem;
            height: auto;
            text-align: center;

            display: flex;
            justify-content: flex-start;

            ul {
                margin: 0 auto 0 auto;
                padding: 1rem 0;

                list-style: none;

                :last-child {
                    padding-bottom: 0;
                }

                li {
                    padding-bottom: 1rem;
                }

                a:hover {
                    border: none;
                }
            }
        }
    }
}

// SUB HEADER
.subheader-container {
    color: #ccc;
    width: 75%;
    height: 6rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subheader-left,
.subheader-right {
    display: flex;

    a {
        color: #ccc;
        text-decoration: none;
        margin-left: 1.5rem;
    }

    a:hover {
        color: white;
    }

    .subheader-link__active {
        color: white;
    }
}
