.home-container {
    display: flex;
    justify-content: center;
}

.search-bar {
    background-color: teal;
    color: white;
    width: 70%;
    height: 4rem;
    display: flex;
    justify-content: space-between;

    &__left {
        display: flex;

        div {
            display: flex;
        }
    }

    &__right {
    }
}
