.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-bar {
    color: white;
    width: 75%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        color: rgb(161, 161, 161);
        text-decoration: none;
        padding: 0 1rem;
    }

    a:hover {
        color: white;
    }

    .search-link__active {
        color: white;
    }

    &__left {
        display: flex;
        align-items: center;

        form {
        }

        div {
            display: flex;
        }
    }

    &__right {
        display: flex;
    }
}
