@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

@import "./header-footer.scss";
@import "./store.scss";
@import "./browse.scss";
@import "./UI.scss";
@import "./create-account.scss";
@import "./wishlist-cart.scss";
@import "./game-page.scss";

$main-gray: #2a2a2a;
$secondary-gray: #2a2a2a8f;
$border-gray: rgb(133, 133, 133);
$main-blue: #0078f2;
$secondary-blue: #0062be;
$main-link: rgb(140, 140, 140);
$error-red: #de3341;
$error-secondary: #d54841;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Electrolize", sans-serif;
    // background-color: teal;
    background-color: rgb(18, 18, 18);
    width: 100%;
}

.container {
    width: 100%;
}

.link {
    color: $main-link;
    text-decoration: none;

    &:hover {
        color: #fff;
    }
}

.link-active {
    color: #fff;
    text-decoration: none;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.space-between-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.carousel-button {
    background-color: $secondary-gray;
    color: #ccc;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    margin-left: 0.5rem;
    font-size: 1rem;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: $main-gray;
        color: #fff;
    }
}
