$main-gray: #2a2a2a;
$secondary-gray: #2a2a2a8f;
$border-gray: rgb(133, 133, 133);
$main-blue: #0078f2;
$secondary-blue: #0062be;
$main-link: rgb(140, 140, 140);
$error-red: #de3341;
$error-secondary: #d54841;

.poster {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 110;

    object-fit: cover;

    img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    // ONLY FOR cover={true}
    &-cover {
        background-color: rgba(0, 0, 0, 0.25);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 150;
        cursor: pointer;

        &__information {
            position: absolute;
            top: 60%;
            left: 2%;
            width: 21rem;
            z-index: 200;

            p {
                margin-top: 1rem;
            }
        }
    }

    &-buttons {
        position: absolute;
        top: 80%;
        left: 2%;
        z-index: 201;

        button {
            font-size: 0.8rem;
            cursor: pointer;
        }

        :nth-child(1) {
            width: 11rem;
            height: 3.5rem;
            border: none;
            border-radius: 3px;
        }

        :nth-child(2) {
            background-color: transparent;
            color: #fff;
            width: 13rem;
            height: 3.5rem;
            margin-left: 1rem;
            border: none;
            border-radius: 3px;

            &:hover {
                background-color: rgba(255, 255, 255, 0.315);
            }

            span {
                background-color: black;
                width: 25px;
                height: 25px;
                margin-right: 0.5rem;
                border: 2px solid #fff;
                border-radius: 50%;
            }
        }
    }
}

.horizontal-poster {
    width: 80%;
    height: 80%;

    display: flex;

    &__left {
        position: relative;
        width: 27%;
        height: 100%;
        object-fit: cover;

        img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
        }
    }

    &__right {
        margin-left: 1rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}

.game-on-sale {
    width: 100%;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;

    :first-child {
        background-color: $main-blue;
        padding: 0.3rem 0.3rem;
    }

    :nth-child(2) {
        color: $light-gray;
        text-decoration: line-through;
    }

    span {
        margin-right: 0.7rem;
    }
}

@media only screen and (max-width: 1000px) {
    .poster {
        &-cover__info {
            margin: 0 0 1rem 1rem;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &-top {
                p {
                    width: 20rem;
                    font-size: 1rem;
                    line-height: 1.4rem;
                    margin-top: 0.5rem;
                }
            }

            &-bottom {
                margin-top: 1rem;
            }
        }

        &-buttons {
            &__buy {
                width: 8rem;
                font-size: 0.8rem;
            }

            &__wishlist {
                width: 9rem;
                font-size: 0.6rem;

                span {
                    margin-right: 0.8rem;
                }
            }
        }
    }

    .horizontal-poster {
        font-size: 0.7rem;
    }

    .game-on-sale {
        width: 100%;
        margin-top: 0.5rem;
        display: flex;
        align-items: center;
        font-size: 0.7rem;

        :first-child {
            background-color: $main-blue;
            padding: 0.1.5rem 0.15rem;
        }

        :nth-child(2) {
            color: $light-gray;
            text-decoration: line-through;
        }

        span {
            margin-right: 0.7rem;
        }
    }
}

//! ////////////////////////////////////////////////////////////////////////////////////////////

.logIn-warning {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    &__container {
        width: 100%;
        height: 15rem;
        font-size: 2rem;
        color: #fff;

        a {
            margin-right: 0.5rem;
            color: $main-link;

            &:hover {
                color: #fff;
            }
        }
    }
}
