$main-gray: #2a2a2a;
$secondary-gray: #2a2a2a8f;
$main-blue: #0078f2;
$main-link: rgb(140, 140, 140);

.poster {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 110;

    object-fit: cover;

    img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    &-cover {
        background-color: rgba(0, 0, 0, 0.25);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;

        display: flex;
        justify-content: flex-start;
        align-items: flex-end;

        &__info {
            margin: 0 0 4rem 2rem;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &-top {
                p {
                    width: 20rem;
                    font-size: 1.2rem;
                    line-height: 1.7rem;
                    margin-top: 1rem;
                }
            }

            &-bottom {
                margin-top: 2rem;
            }
        }
    }

    &-buttons {
        display: flex;
        margin-top: 1rem;

        button {
            height: 3rem;
            border-radius: 5px;
            border: none;
            cursor: pointer;
        }

        &__buy {
            width: 10rem;
        }

        &__wishlist {
            background-color: transparent;
            color: #fff;
            width: 12.5rem;

            margin-left: 0.5rem;

            display: flex;
            justify-content: center;
            align-items: center;

            span {
                background-color: black;
                margin-right: 1rem;
                width: 25px;
                height: 25px;
                font-size: 0.9rem;
                font-weight: bold;
                border-radius: 50%;
                border: 2px solid #fff;

                display: flex;
                justify-content: center;
                align-items: center;
            }

            &:hover {
                background-color: rgba(255, 255, 255, 0.3);
            }
        }
    }
}

.horizontal-poster {
    width: 80%;
    height: 80%;

    display: flex;

    &__left {
        width: 27%;
        height: 100%;
        object-fit: cover;

        img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
        }
    }

    &__right {
        margin-left: 1rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 1000px) {
    .poster {
        &-cover__info {
            margin: 0 0 1rem 1rem;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &-top {
                p {
                    width: 20rem;
                    font-size: 1rem;
                    line-height: 1.4rem;
                    margin-top: 0.5rem;
                }
            }

            &-bottom {
                margin-top: 1rem;
            }
        }

        &-buttons {
            &__buy {
                width: 8rem;
                font-size: 0.8rem;
            }

            &__wishlist {
                width: 9rem;
                font-size: 0.6rem;

                span {
                    margin-right: 0.8rem;
                }
            }
        }
    }
}
