.poster {
    position: absolute;
    width: 100%;
    height: 100%;

    object-fit: cover;

    img {
        width: 100%;
        height: 100%;
    }
}

.horizontal-poster {
    background-color: rebeccapurple;
    width: 80%;
    height: 80%;

    &__left {
        width: 30%;
        height: 100%;
        object-fit: cover;

        img {
            width: 100%;
            height: 100%;
        }
    }
}
