$main-gray: #2a2a2a;
$secondary-gray: #2a2a2a8f;
$border-gray: rgb(133, 133, 133);
$main-blue: #0078f2;
$secondary-blue: #0062be;
$main-link: rgb(140, 140, 140);
$error-red: #de3341;
$error-secondary: #d54841;

.wishlist {
    width: 100%;

    &-wrapper {
        width: 90rem;

        h1 {
            font-size: 3.5rem;
            color: #fff;
            margin-bottom: 1rem;
        }

        &__container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
    }

    &-left {
        width: 83%;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        &__games {
            width: 100%;
        }
    }

    &-right {
        width: 15%;
    }
}

.wishlistItem {
    background-color: $secondary-gray;
    width: 100%;
    height: 13rem;
    border-radius: 5px;
    margin-bottom: 1rem;

    &-inner {
        width: 96%;
        height: 90%;

        &__left {
            background-color: teal;
            width: 12%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &__right {
            width: 87%;
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            &-title {
                width: 100%;
                color: #fff;

                h3 {
                    font-size: 1.5rem;
                }

                div {
                    font-size: 1.1rem;
                }
            }

            &-buttons {
                width: 100%;

                p {
                    color: $main-link;
                    text-decoration: underline;
                    margin-right: 1rem;
                    cursor: pointer;

                    &:hover {
                        color: #fff;
                    }
                }

                button {
                    background-color: transparent;
                    color: #fff;
                    width: 13rem;
                    height: 3.5rem;
                    border: 1px solid $border-gray;
                    border-radius: 3px;
                    font-size: 1rem;
                    font-weight: 600;
                    cursor: pointer;

                    &:hover {
                        background-color: $border-gray;
                        color: #fff;
                        border: 1px solid #fff;
                    }
                }
            }
        }
    }
}

.cart {
    width: 100%;
    min-height: 30rem;
    max-height: auto;
    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &-title {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    &-items {
        width: 100%;
        height: 10rem;

        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &-left {
        color: peru;
        width: 75%;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &-right {
        width: 20%;
        height: 10rem;
    }

    &-summary {
        width: 100%;

        &__top,
        &__bottom {
            color: #fff;
            width: 100%;
        }

        &__top {
            border-bottom: 1px solid $border-gray;
        }

        &__title {
            color: #fff;
            font-size: 2rem;
            margin-bottom: 2.5rem;
        }

        &__price,
        &__taxes,
        &__total,
        &__button {
            width: 100%;
            margin-top: 0.5rem;
            margin-bottom: 1rem;
        }

        &__button {
            background-color: #0078f2;
            color: #fff;
            height: 3rem;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }
    }
}

.cartItem {
    background-color: teal;
    width: 100%;
    height: 18rem;

    &-inner {
        background-color: peru;
        width: 95%;
        height: 95%;
    }

    &-image {
        background-color: rebeccapurple;
        width: 21%;
        height: 100%;
    }

    &-information {
        background-color: purple;
        width: 79%;
        height: 100%;
    }
}
